* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: inter;
    background-color: #f6f6f6;
}


nav ul li a {
    text-decoration: none;
}

/* *********************************************************************************
                        Resuable/Utility classes starts
********************************************************************************* */

:root {
    --background: #f1eeff;
    --spancolor: #737373;
    --pcolor: #393939;
    --hovershadow: 0px 4px 3px 1px #969696;

}



.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

section {
    width: 100%;
    margin: 10px 0;
}

.container {
    width: 85%;
    margin: 0 auto 0px auto;
    background-color: white;
    padding: 10px;
}

h1,
h2 {
    line-height: 50px;
    overflow-x: visible;

}

#name {
    height: 50px;
}

h4 {
    color: var(--pcolor);
}

p {
    line-height: 23px;
    margin-left: 5px;
    color: var(--pcolor);
}

span {
    margin-left: 10px;
    color: var(--spancolor);
}


/* .btns {
    background: linear-gradient(71deg, #8985ffe0, #ff50f4b0);
    margin: 15px;
    font-size: 1rem;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    border: none;
    box-shadow: 0px 2px 2px 1px #969696;
    transition: all 0.2s ease-in-out;
    color: #313032;
    text-transform: uppercase;
} */

.btns:hover {
    box-shadow: 0px 4px 3px 1px #969696;
    color: #000;
}

h2 {
    position: relative;

}

h2::before {
    content: "";
    position: absolute;
    bottom: 15%;
    left: 0%;
    height: 3px;
    width: 140px;
    background: #38383b;
    border-radius: 2px;
}

/* h2::after {
    content: "";
    position: absolute;
    bottom: -10%;
    right: 99%;
    height: 15px;
    width: 15px;
    background: #38383b;
    border-radius: 34px;
} */



nav {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: #38383b;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 5px -2px #0000005c;
    transition: all 0.3s linear;
    padding: 7px 80px;
    z-index: 2;
    font-family: inter;
}

nav ul li {
    list-style: none;
    /* font-size: 20px;
    margin: 10px; */
    
    text-transform: capitalize;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
}

nav ul li a {
    color: rgba(255, 255, 255, 0.55);
    padding: 5px 15px 5px 15px;
    &:hover {
        color: white;
    }
}

nav ul li:hover  a{
    background-color: #1d1d1d;
    color: white;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
    
}

nav .menu {

    display: none;
    position: absolute;
    top: 0.7rem;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.logo {
    font-size: 40px;
    font-family: 'Lobster', sans-serif;
    color: white;
}

.navigations ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;

}

.nav-btn {
    margin: 0;
    font-size: 1rem;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.3s ease-in-out;
    color: white;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
        background-color: white;
        color: black;
    }
}
.navigations .active {
    background-color: #1d1d1d;
    color: white;
    /* padding: 2px 20px 2px 20px; */
    border-radius: 20px;
}
.menu-icons{
    color: white;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.show-menu{
    display: flex;
}
/* *********************************************************************************
                        MyAccount classes starts
********************************************************************************* */
.nav-images img {
    width: 40px;

}

.nav-image {
    &:hover {
        background-color: red;
    }
}

.profile {
    height: 20vh;
    width: 100vw;
}

.myaccount-section {
    flex-direction: column;
    background-color: #e4e4e4;
}

.myaccount {
    width: 100%;
    background-color: #e4e4e4;
    font-size: 1.2rem;
}

.myAccount-container {
    background-color: white;
    height: 70vh;
    width: 70vw;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5%;
    gap: 10px;
    border: 2px solid #d8d2d2;
    box-shadow: 0px 0px 35px 15px #c8c8c85c;
    border-radius: 10px;
}

.info-details {
    font-size: 1.3rem;
    font-weight: 600;
}

.info-label {
    color:black;
}

.acount-info {
    flex-direction: column;
    align-items: self-start;
    gap: 20px;
}

.account-img img {
    width: 10%;
    position: absolute;
    top: 18%;
    left: 18%;
}

/***************************************************************************/

.contact {
    background-color: #f6f6f6;
    color: black;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
}

.contact .login-btn {
    margin: 0;
    font-size: 1.2rem;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
    color: black;
    background-color: white;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
        background-color: black;
        color: white;
    }
}

form {
    margin: 20px;
}

.contact-section {
    flex-direction: column;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px 0px #c8c8c8;
}

.contact-section a {
    color: black;
    text-decoration: underline;
}

.form {
    flex-direction: column;
    gap: 20px;
}

.contact-section input,
textarea {
    width: 100%;
    margin: 3px 3px 10px 3px;
    padding: 8px;
    font-size: 17px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 15px 0px #c8c8c8;
}

.form label {
    margin: 7px;
}

.form textarea {
    resize: none;
    height: 100px;
}

.form .login-btn {
    margin: 0;
    font-size: 1.2rem;
    padding: 5px 15px 5px 15px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
    color: black;
    background-color: white;
    text-transform: capitalize;
    font-weight: 600;

    &:hover {
        background-color: black;
        color: white;
    }

}

.contactSection {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100%;
}

iframe {
    height: 25vh;
}


.form-loader{
    flex-direction: column;
    position: absolute;
    z-index: 0;
    background-color: #dedede;
    padding: 10px;
    gap: 5px;
    border-radius: 10px;
}

/* *********************************************************************************
                        singleProduct styles starts
********************************************************************************* */


.product-container {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-gap: 10px;

}

.product-section {
    background-color: #f6f6f6;
    font-family: inter;
}

.product-images {
    flex-direction: column;
    gap: 20px;
    max-height: 80vh;
    /* border: 2px solid; */
}

.main-image img {
    width: 22vw;
}

.sub-images {
    gap: 10px;
}

.sub-images img {
    width: 12%;

    &:hover {
        cursor: pointer;
    }
}

.product-content {
    /* border: 2px solid; */
    flex-direction: column;
    align-items: flex-start;
    padding: 2% 3% 0 0;
    gap: 20px;
}

.title {
    font-size: 1.5rem;
    font-family: inter, sans-serif;
}

.spacial {
    color: rgb(38, 165, 65);
    font-weight: 600;
    line-height: 35px;
}

.strike-price {
    color: rgb(135, 135, 135);
}

.real-price {
    font-size: 1.5rem;
    font-family: inter;
    font-weight: 500;
}

.more-info {
    font-family: inter;
    line-height: 34px;

}

.more-info h3 {
    font-family: inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
}

.more-info table .key {
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    color: rgb(135, 135, 135);
    line-height: 20px;

}

.more-info table .value {
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;


}

.more-info table {
    min-width: 150%;
    border-spacing: 10px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons input,.buttons a input  {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    border: 2px solid black;
    padding: 15px 30px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;

}

.buy-button {
    background-color: #38383b;
    color: white;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: black;
    }
}

.cart-button {
    color: black;
    background-color: white;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: #38383b;
        color: white;
    }
}

/* *********************************************************************************
                        Product container styles starts
********************************************************************************* */
.product-container-section {
    background-color: #f6f6f6;
    flex-direction: column;
    gap: 10px;

}

.product {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px 0px #c8c8c8;
}

.product-container-section .heading {
    padding: 20px 25px;
}

.product-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.product-card-container a {
    text-decoration: none;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* *********************************************************************************
                        Product card styles starts
********************************************************************************* */
a {
    text-decoration: none;
}

.product-card {
    border: 1px solid #e3e3e3;
    flex-direction: column;
    margin: 20px;
    padding: 5%;
    gap: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 0 5px 0px #c8c8c8;
    transition: all 0.2s ease-in-out;
    height: 100%;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 7px 5px #c9c9c9;
    }
}


.product-card img {
    width: 15vw;

}

.card-details {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    font-family: inter;
    /* justify-content: flex-start; */
    /* margin: 10px 0 5px 0 ; */
}

.card-strike-price {
    color: rgb(135, 135, 135);
}

.card-real-price {
    font-weight: 600;
    font-size: 18px;
}


/* *********************************************************************************
                        cart page styles starts
********************************************************************************* */
.cart input {
    position: relative;
    color: black;
    background-color: white;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    outline: none;
    padding: 12px 30px;
    width: 76%;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    bottom: 10px;
    left: 12%;

    &:hover {
        background-color: #38383b;
        color: white;
    }

}




/* *********************************************************************************
                        Shop page styles starts
********************************************************************************* */
.shop{
    margin: 0px;
}

.filters {
    background-color: white;
    /* border: 2px solid; */
    box-shadow: 0 0 15px 0px #c8c8c8;
    box-shadow: 0px 1px 15px -5px #000000;
    margin: 0 0 10px 0;
    position: sticky;
    width: 100vw;
}

.filter-list {
    text-transform: capitalize;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.filter-list li {
    list-style: none;
    margin: 0;
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 2px solid #464646;
    transition: all 0.3s ease-in-out;
    color: black;
    background-color: white;
    text-transform: capitalize;

    &:hover {
        background-color: #1f1f1f;
        color: white;
    }
}

.filter-list .filter-ul {
    gap: 10px;
    flex-wrap: wrap;
}

.filter-ul .active-filter{
    background-color: #1f1f1f;
    color: white;
}
/* *********************************************************************************
                        Footer section starts
********************************************************************************* */
footer {
    background-color: #38383b;
    padding: 25px;
}

.footer-section {
    width: 90%;
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;
    color: #adadda;
    margin: auto;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section h3 {
    color: white;
}

.footer-section ul li {
    text-transform: none;
    justify-content: flex-start;
    margin: 3px;
}

.socials,
.navigation,
.help {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.socials {
    color: #a9a9a9;
}

.socials svg {
    width: 28px;
    /*! height: 50%; */
    /* filter: invert(); */
    margin-right: 10px;
    color: white;
}

.socials ul li a,
.footer-navigation ul li a {
    /*! margin: 20%; */
    color: #a9a9a9;
    cursor: pointer;
}
.footer-nav-list{
    flex-direction: column;
    align-items: flex-start;
}
.socials ul li a:hover,
.navigation ul li a:hover {
    color: white;
    transition: all 0.2s ease-in-out;
}

.copy h4 {
    color: white;
    text-align: center;
    text-decoration: underline;
    margin: 2% 0 0 0;
}

.address{
    color: #a9a9a9;
    flex-direction: column;
    gap: 5px;
    text-align: center;
} 
.address ul li{
    margin: 10px 3px;
    gap: 10px;
}
.address ul li svg {
    color: white;
}
.navigation ul {
    list-style: none;
    color: white;
}
.navigation a{
    color: #a9a9a9;
}
.footer-nav-list .active{
    text-decoration: underline;
    color: whitesmoke;
}
/* *********************************************************************************
                        T&C section starts
********************************************************************************* */

.tc-section{
    background-color: #e8e8e8;
    flex-direction: column;
    gap: 10px;
    min-height: 70vh;
}

.tc-container{
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    width: 80%;
    padding: 30px;
}
.tc{
    margin: auto;
}
.tc-list{
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    width: 90%; 
}

.tc-container h3{
    text-decoration: underline;
    font-size: 1.5ren;
    /* font-family: Inter, -apple-system, Helvetica, Arial, sans-serif; */
}


/* *********************************************************************************
                        Partners section starts
********************************************************************************* */

.partners-section{
    background-color: #353535;
}
.partners-container{
    background-color: #353535;
    flex-direction: column;
    gap: 20px;
}

.partners-container h3{
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}
.brand{
    flex-direction: column;
    gap: 10px;
}
.brand-name{
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}
.brand img{
    width: 50%;
    border-radius: 7px;
}
.meesho img{
    border-radius: 20px;
}
/* *********************************************************************************
                        Slider section starts
********************************************************************************* */

.slider-section img{
    width: 90vw;

}
/* *********************************************************************************
                       Home page service section starts
********************************************************************************* */


.services-container{
    flex-direction: column;
}

.services-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
   
}

.services-card{
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border: 5px solid black;
    margin: 15px;
    gap: 15px;
    padding: 25px;
    border-radius: 0 75px;
    box-shadow: 0 0 5px 0px #c8c8c8;
    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 7px 5px #c9c9c9;
    }
}
.services-card-title{
    font-weight: 600;
}

.radius{
    border-radius: 75px 0;
}

.read-btn{
    margin: 0;
    font-size: 1rem;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
    color: black;
    background-color: white;
    text-transform: capitalize;
    

    &:hover {
        background-color: black;
        color: white;
    }
}
/* *********************************************************************************
                       services component page  section starts
********************************************************************************* */
.services-page-container{
    flex-direction: column;
    padding: 2% 8%;
    gap: 20px;
}
.services-page-container h3{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: underline;
}
.service{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.service-title{
    text-transform: capitalize;
    text-decoration: underline;
}

.service-content{
    flex-direction: column;
    gap: 15px;
}
.service-para{
    margin-left: 20px;
}

/* *********************************************************************************
                      reviews  section starts
********************************************************************************* */
.reviews{
    gap: 10px;
}

.review{
    flex-direction: column;
    align-items: flex-start;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 3px;
}

.handle{
    margin: 0;
    font-size: 0.9rem;
}
.client-review{
    color: #575757;
}
.client-name{
    font-weight: 500;
    margin-left: 15px;
}



/* *********************************************************************************
                      loading design  section starts
********************************************************************************* */
.card-loading{
    height: 385px;
    align-items: flex-start;
}

.image-loading{
    width: 100%;
    height: 70%;

}

.title-loading{
    width: 100%;
    height: 15%;
}

.price-loading{
    width: 50%;
    height: 10%;
}
.image-loading,.title-loading,.price-loading{
    background:linear-gradient(120deg,#e5e5e5 30%,#f0f0f0 38%,#f0f0f0 40%,#e5e5e5 48%);
    background-size: 200%,100%;
    background-position: 100%,0;
    animation: loading 1s linear infinite ;
}



@keyframes loading {
   
    100%{
        background-position: -100%,0;
    }
    
}

/* *********************************************************************************
                      Collectons page  section starts
********************************************************************************* */
.collections-container{
    flex-direction: column;
}
.collections-box-container {
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 30px;
    transition: all 0.5s ease-in-out;
}

.collections-box {
    flex-direction: column;
    border: 2px solid #d3d3d3;
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.collections-box:hover {
    transform: scale(1.05);
}

.collections-box img {
    width: 250px;
    height: 250px;
    transition: transform 0.5s ease-in-out;
}

.collections-box:hover img {
    transform: scale(1.1);
}

.collections-box .collections-para {
    position: absolute;
    bottom: 0;
    left: -5px;
    background-color: rgba(212, 212, 212, 0.8);
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transform: translateY(100%); 
    transition: all 0.5s ease-in-out; 
    font-weight: 500;
    text-transform: capitalize;
}

.collections-box:hover .collections-para {
    opacity: 1;
    transform: translateY(0); 
}

.collections-box-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Prevents underline on links */
    transition: all 0.5s ease-in-out;
}



/* *********************************************************************************
                      Responsive design  section starts
********************************************************************************* */
@media  only screen and (max-width:950px){
    .navigations{
        display: none;
    }
    .menu-icons{
        display: flex;
        margin: 0 35px;
        align-items: center;
        justify-content: center;
    }
    .show-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        background-color: #38383b;
        border-radius: 5px;
        width: 100%;
    }
    .show-menu ul{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        align-items: baseline;
    }
    .resposive-nav{
        position: absolute;
        right: 0%;
        top: 30%;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: flex-end;
        
    }
    .cart input {
        padding: 12px;
    }
    .more-info table {
        min-width: 105%;
        
    }
   
  }
  
  @media  only screen and (max-width:800px){
   
    .container{
        width: 90%;

    }
    .services-card-container{
        width: 100%;
    }
    .product-container {
        grid-template-columns: 1fr;
    }
    .product-content {
        padding: 2% 5%;
    }
    .main-image img {
        width: 60vw;
    }
    .buttons {
        display: grid;
        gap: 20px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    .product-card-container {
        grid-template-columns: repeat(3, 1fr);
    }
  }
  
  
  @media  only screen and (max-width:720px){
    
  
   .footer-section{
       width: 90%;
       height: 100%;
       justify-content: space-between;
       /*! align-items: center; */
       color: #adadda;
       flex-wrap: wrap;
    }
  }
  
  @media  only screen and (max-width:600px){
 
    .product-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .product-card img {
        width: 35vw;
    }
    .container{
        width: 100%;
    }
    .services-card {
        margin: 10px;
        gap: 10px;
        padding: 10px;
    }
    nav{
        padding: 7px 15px;
    }
    .collections-box-container {
        padding: 30px 0;
    }
    .collections-box img {
        width: 200px;
        height: 200px;
        transition: transform 0.5s ease-in-out;
    }
   
}
  
  @media  only screen and (max-width:450px){
    .collections-box img {
        width: 135px;
        height: 135px;
    }
    .collections-box .collections-para {
        opacity: 1;
        transform: translateY(0); 
        background-color: rgba(0, 0, 0, 0.2);
        font-weight: 800;
        color: rgb(255, 255, 255);
        padding: 5px;
        
    }
    .slider-section img{
        width: 90vw;
        height: 25vh;
    
    }
    
  }
  
  @media  only screen and (max-width:360px){

    .buttons input, .buttons a input {
        padding: 10px;
        font-weight: bolder;
    }
    .main-image img {
        width: 70vw;
    }
    .title {
        font-size: 1.2rem;
    }
    .more-info h3 {
        font-size: 20px;
    }
    .product-card {
        margin: 5px;
        padding: 20px 10px;
        
    }
    .product-card img {
       width: 100%;
    }
    h2 {
        font-size: 1.2rem;
    }
    .services-container {
        padding: 10px 0;
    }
    .services-card {
        margin: 5px;
    }
    .services-card {
        border-radius: 0 50px;
        border: 3px solid black;
    }
    .radius {
        border-radius: 50px 0;
    }
    p {
        line-height: 20px;
        margin-left: 0px;
    }
    .collections-box .collections-para {
        opacity: 1;
        transform: translateY(0); 
        background-color: rgba(0, 0, 0, 0.2);
        font-weight: 800;
        color: rgb(255, 255, 255);
        padding: 5px;
        
    }


    .product-card {
        border: 1px solid #d4d4d4;
        border-radius: 5px;
        box-shadow: none;
    }

    
    footer{
        padding: 10px;
    }
  
    .socials, .navigations, .help {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 10px;
    }
  
    .footer-section {
        width: 100%;
    }
  
    .footer-section h3 {
        margin-left: 20px;
    }
    .review-section{
        display: none;
    }

  }

  
  @media  only screen and (max-width:300px){
    .services-card-container {
        grid-template-columns: 1fr;
    }
    .product-card-container {
        grid-template-columns:  1fr;
    }
   
  }